input#selectAll {
  border: 1px solid #00632d;
  background-color: red;
}

.overlay {
  position: absolute;
  background-color: transparent;
  border: 2px solid #00632d;
}

.basket {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #00632d;
  color: white;
  padding: 3px 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.checkoutBtn {
  background-color: #ffcb7d;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 15px;
}

.product {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.productImg {
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

.btnContainer {
  border: 1px solid #eceaea;
  border-radius: 10px;
  padding: 5px 0px;
}

.btnContainer input {
  border: none;
  width: 40px;
  height: 30px;
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
}

.btnContainer input:nth-child(1) {
  border-right-color: #ffffff;
}
.btnContainer input:nth-child(2) {
  border-left-color: #ffffff;
  border-right-color: #ffffff;
}
.btnContainer input:nth-child(3) {
  border-left-color: #ffffff;
}
.productPrice {
  padding: 0 30px;
}
